<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="navFooter">
      <h4><a href="/"> Home </a></h4>
      <h4><a href="/beersList"> Beer List </a></h4>
      <h4><a href="/randomBeers"> Random Beer</a></h4>
    </nav>

    {{{body}}}

    <footer class="navFooter">
      <h4>Created with 👽 at Ironhack</h4>
    </footer>
  </body>
</html>
